<div class="container">
  <article class="table-info">
    <div>
      <div>
        <p>
          <strong><%= comment.name %>:</strong>
          <%= comment.comment %>
        </p>
      </div>
    </div>
     <%= link_to 'Delete', [comment.post, comment],
                  method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
  </article>

</div>