<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">About Me</h1>
        <div class="row">
            <p style="text-align: justify">
                If you haven't seen Game of Thrones, go watch it right now. 
                If you have then you'll totally get why this Hodor themed lorem ipsum generator is just brilliant.
                <br/>
                <br/>
                Hodor. Hodor hodor, hodor. Hodor hodor hodor hodor hodor. Hodor. Hodor! Hodor hodor, hodor; 
                hodor hodor hodor. Hodor. Hodor hodor; hodor hodor - hodor, hodor, hodor hodor. 
                Hodor, hodor. Hodor. Hodor, hodor hodor hodor; hodor hodor; hodor hodor hodor! 
                Hodor hodor HODOR! Hodor hodor... Hodor hodor hodor...
                <br/>
                <br/>
                A handcrafted, small-batch, artisinal pour-over version of the classic lorem ipsum generator, 
                Hipster Ipsum will give your mocks that blue collar touch.
            </p>
            <hr class="my-4"/>
        </div>
    </div>
</div>